.autocom-box {
    color: white;
    background-color:var(--dark-bg);
    position: absolute;
    width: 600px;
    border-radius: 10px;
    left: 46%;
    transform: translateX(-50%);
    top: 80px;
}



.search_desc {
    font-size: 14px;
    color: #7a7a7a;
    display: -webkit-box; 
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.search-img {
    border-radius: 10px;
}


@media (max-width: 576px ) {
    .autocom-box {
        transform: translateX(0);
        left: 0;
        width: 90%;
        margin: 0 20px;
        top: 210px
    }
}